body {
    background-color:#140101;
}
.main-container {
    height: 400px;
    width: 500px;
    background-color:#1F2937;
    /* color:#140101; */
    display: inline-block;
    justify-items:center ;
    border-color: solid white;
    border-width: 2px;
    
}
.h-one {
margin-bottom: 0px;
color: white;
}
.h-two {
    margin-top: 0px;
    color: #4ADF86;
}

p {
margin-top: 1px;
color: white;
}

button {
    padding: 10px 10px;
    border-radius: 8px;
    background-color:#4ADF86;
}
input{
    margin-top: 10px;
    border-radius:5px ;
    background-color: #1F2937;
    color:#4ADF86;
    margin-right: 8px;
}

hr{
background-color:#2F3E53;
}