body {
    margin: 0;
    background-color: #1B244A;
    color: #FFFFFF;
}
.container {
    display: flex;
    justify-content: space-around;
}
.container h3{
    font-family: "Verdana";
    margin-bottom: 2px;
    text-align: center;
    width: 100px;

}
.home-card{
    padding: 20;
    background-color: black;
    font-family: Cursed Timer ULiL;
    color: #F94F6D;
    text-align: center;
}
.guest-card{
    /* height: 150px;
    width: 150px; */
    padding: 20;
    background-color: black;
    font-family:Cursed Timer ULiL;
    color: #F94F6D;
    text-align: center;
    font-size: large;
}
button{
    cursor: pointer;
}
.guest-btn{
    background-color: #1B244A;
    margin-top: 10px;
    font-family:Cursed Timer ULiL;
}
.home-btn{
    background-color: none;
    margin-top: 10px;
    font-family:Cursed Timer ULiL;
}
.hm-btn-one,
.hm-btn-two,
.hm-btn-three{
    background-color: #1B244A;
    text-align: center;
    justify-content: center;
    outline: none;
    color: darkgrey;
    border: 1px solid darkgrey;
    border-radius: 3px;
    font-family:Cursed Timer ULiL;
}
.gst-btn-one,
.gst-btn-two,
.gst-btn-three{
    background-color: #1B244A;
    border-radius: 3px;
    text-align: center;
    outline: none;
    color: darkgrey;
    border: 1px solid darkgrey;
    font-family:Cursed Timer ULiL;
}


