body {
    margin: 0;
    background-color: #1B244A;
    color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: space-around;
}

.home-card{
    height: 100px;
    width: 100px;
    background-color: black;
}
.guest-card{
    height: 100px;
    width: 100px;
    background-color: black;
}