body {
  text-align: center;
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #a2d2ff;
  color: #ffffff;
}

#shee {
  border-radius: 300px;
  width: 300px;
  border-style: solid;
  border-width: 10px;
  border-color: #efb0c9;
}
h1,
h2,
h4 {
  text-shadow: 0px 0px 1px black;
}

/*
Challenge:
Add colors to the site based on the provided design.

pink: #EFB0C9
blue: #a2d2ff
white: #ffffff
*/
