body {
  margin: 0px;
}

.black {
  background-color: black;
  height: 200px;
}
.red {
  background-color: red;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.green {
  background-color: green;
  height: 200px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
