body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: #4ADF86;
}

button{
    background-color: #10B981;
    /* margin: 3px; */
    padding: 5px 9px;
    border-radius: 5px;
    
}
p{
    color: #D5D4D8;
}