.hero-section {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("");
    background-size: cover;
    background-position: center;
                  }

.project-card {
    transition: transform 0.3s ease;
}


.project-card:hover {
    transform: translateY(-5px);
}


.skill-badge {
    font-size: 0.9rem;
    margin: 0.2rem;
}

.social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0d6efd;
}