body {
  /* css funtion  background-image: url("images/universe.jpg"); */
  background-image: url("images/universe.jpg");
  color: white;
  background-size: cover;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.button {
  padding: 6px 12px;
  background-color: white;
  border: none;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.underline {
  border-bottom: 4px solid;
}
